.bg{background-color: #fff;position:relative;}
header ul, .wall{max-width:960px;width:82%;}
.nav_font, .content_part{padding: 20px;}
.content_part{padding-top:10px;}

header{width: 100%; background-color: #464646;font-size: 14px;background:url('/resource/image/sky2.jpg'); background-size:cover;}
header nav.big_nav{width:100%;background-color: #181818;position:fixed;top:0;}
header ul{overflow:hidden;margin:0 auto;}
header ul li{float:left;background:#181818;}
header ul li a{color:#ccc;display:block;height:40px;line-height: 40px;padding: 0 15px;}
header ul li a:hover{color:#fff;text-decoration:none;}
header ul li.selected{background-color:#000;}
header ul li.selected a{color:#fff;}
/* blackboard */
header .hello_board{width:100%;text-align:center;padding: 80px 0 20px 0;}
header .head_pic_border{width:120px; height:120px; border-radius: 60px;overflow: hidden;margin:0 auto;border: 3px solid #eee;transition: .3s ease;}
header .head_pic_border img{width:100%;}
header .head_pic_border:hover{
	-webkit-transform: rotate(360deg) scale(1.1);
	-ms-transform: rotate(360deg) scale(1.1);
	transform: rotate(360deg) scale(1.1);
}
header .my_info{font-family: cursive;font-size:40px; color:#fff;margin:10px 0;}
/* menu button */
.small_nav{width:100%;position:absolute; top:0;background:#181818;text-align:right;display:none;}
.small_nav h3{float: left;color: #ECECEC;font-size: 25px;line-height: 45px;margin-left: 20px;}
#menu-trigger{font-size: 32px;color: #eee;cursor: pointer;padding: 0 4px;border: 1px solid #999;border-radius: 5px;margin: 5px;}


.wall{margin: 0 auto;padding:0 0 40px 0;color:#303030;}
.nav_font{font-size: 28px;line-height: 30px;background-color: #fff;border-bottom: 1px solid #D6D6D6;}
.blog_layout{display:-moz-box;display:-webkit-box;display:box;}
.content_part{font-size:14px;background-color: #fff;overflow:hidden;}
.content_part_left{box-flex:1;-moz-box-flex:1; -webkit-box-flex:1;}
.content_part_right{padding:10px 0 0 20px;}
.content_part_right h3{text-align:center;}
.content_part_right ul{margin:10px 0;}
.content_part_right ul li{list-style:disc;margin: 0 20px;}
.cross_line{height: 30px;}
.content_part a{color:#0069d6;}
.content_part a:hover{color: #00438a;text-decoration: underline;}
.post_list a{transition:all .3s ease-in;}

#scroll_top_btn{font-size:32px;position:fixed; bottom:60px;right:40px;width:40px;height:40px;z-index:100;color:#fff;line-height:40px;opacity:0;text-align:center;}
.btn_bg{background:#000;opacity:0.6;width:40px;height:40px;position:absolute; top:0;left:0;z-index:-10;border-radius:5px;}

footer{position:absolute;bottom:0;width: 100%;text-align:center;color:#858585;line-height:40px;}

@media screen and (max-width: 600px){
	header .hello_board{padding:60px 0 0 0;display:none}
	header .head_pic_border{width:80px; height:80px; border-radius: 40px;}
	header nav.big_nav{position:static;opacity:0.6;}
	header ul{width:100%;}
	header ul li{float:none; display:block;border-top:1px solid #0e0e0e;}
	header ul li:first-child{border-top:none;}
	.small_nav{display:block;}
	header .my_info{font-size:30px;}
	.wall{width:95%;padding:40px 0;}
	.nav_font{font-size: 20px;}
	.nav_font, .content_part{padding: 20px 10px;}
	.content_part_right{display:none;}
}
