@font-face {
	font-family: chinese;
	src: url(/resource/font/chinese.ttf);
}
html{background-image: url(/resource/image/bg.png);}
body{position:relative;}
header ul, .wall{max-width:880px;width:82%;}
header{width: 100%; font-size: 14px;margin:0 auto;overflow: hidden;max-width: 900px;height: 300px;padding-top: 50px;}
header .logo_text{font-family: chinese, cursive;line-height: 50px;font-size: 70px;position: relative;padding: 50px;}
header .logo_img{background:url(/resource/image/logo.png);background-size: cover;width: 300px;height: 300px;position: absolute;right: 0;top: 0;}
header .logo_img img{width: 100%;}
header nav.big_nav{width: 100%;}
header ul{overflow:hidden;margin:0 auto;}
header ul li{float:left;text-align: center;cursor: pointer;}
header ul li a{color:#000;display:block;height:70px;width: 70px;line-height: 80px;padding: 0 15px;}
header ul li a:hover{color:#000;text-decoration:none;}
header ul li.selected a{color:#fff;background-image: url(/resource/image/nav_bg.png);background-size: 100% 100%;}

/* menu button */
.small_nav{width:100%;position:fixed; top:0;text-align:right;display:none;z-index: 1000;background: #181818;}
.small_nav h3{color: #fff;font-size: 18px; font-family: cursive;float: left;line-height: 45px;margin-left: 20px;font-weight: 100;}
#menu-trigger{font-size: 28px;color: #fff;cursor: pointer;padding: 0 4px;margin:0 5px;line-height: 45px;}


.wall{margin: 0 auto;color:#303030;overflow: hidden;}
.wall a{color:#2A9ABB;}
.wall a:hover{color:#00438a;}
.post_list a{transition:all .3s ease-in;}

#scroll_top_btn{font-size:32px;position:fixed; bottom:60px;right:40px;width:40px;height:40px;z-index:100;color:#fff;line-height:40px;opacity:0;text-align:center;cursor:pointer;}
.btn_bg{background:#000;opacity:0.6;width:40px;height:40px;position:absolute; top:0;left:0;z-index:-10;border-radius:5px;}

footer{width: 100%;text-align:center;color:#858585;line-height:80px;}

@media screen and (max-width: 1000px){
	#blog_nav{display: none;}
}

@media screen and (max-width: 680px){
	header{height: auto;}
	header .big_nav{display:none}
	header .logo_text{font-size: 50px;  padding: 50px 20px;}
	header .logo_img{width: 150px;height: 150px}
	header .head_pic_border{width:80px; height:80px; border-radius: 40px;}
	header nav.big_nav{position:fixed;top:45px;opacity:0.8;background: #000;z-index: 100;}
	header ul{width:100%;te}
	header ul li{float:none; display:block;border-bottom:1px solid #0e0e0e;}
	header ul li a{width: 100%;padding: 0;height: 45px; line-height: 45px;color:#fff;}
	header ul li a:hover{background: #2D2D2D;color:#fff;}
	header ul li.selected a{background: #2D2D2D;}
	.small_nav{display:block;}
	header .my_info{font-size:30px;}
	.wall{width:90%;}
}
