/* common type */
.displayNone{display:none;}

/* blog list */
.article_list{width: 800px;margin: 0 auto;}
.article_list ul{margin-left: 35px;}
.article_list ul li{list-style-type:disc;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* blog */
.blog{display: block;}
.special_box{overflow: hidden;}
.blog_content{width:75%;float: left;position: relative;}
#blog_nav{width:200px;float: right;max-width: 200px;}
.blog_title{padding:20px 0;font-size: 28px;line-height: 30px;border-bottom: 1px solid #C8C8C8;}
.blog_info{padding: 10px 0;color:#AB794E;}
.blog_info ul{display:inline-block;margin-right:20px;}
.blog_info ul li{display:inline-block;padding-left:10px;}
.blog_content h2{font-size:20px;font-weight:800;color: #5EAFD8;padding: 5px 0;line-height:30px;margin: 5px 0;border-bottom: 1px solid #eee;}
.blog_content p{margin: 10px 0;}
.blog_content img{max-width:90%;max-height: 350px;}
.blog_content .pagination{display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;}
.blog_content .pagination li{float: left;padding: 5px 10px;border: 1px solid #eee;}
.blog_content .pagination li:hover{cursor: pointer;background: #fafafa;}
.blog_content .pagination li a{text-decoration: none;color:#E05E5E;}
#blog_nav h3{text-align:center;}
#blog_nav ul{margin:10px 0;padding-left: 20px;}
#blog_nav li{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#blog_nav ul li a{color:#888;padding: 10px 20px 10px 10px;line-height: 30px;}
#blog_nav ul li a:hover{color: #00438a;border-left: 2px solid #0069d6;text-decoration: none;}
.cross_line{height: 30px;}

/* code in blog */
.prettyprint{white-space:pre;white-space:pre-wrap;word-break:break-all;word-wrap:break-word;}
.prettyprint ol{text-indent: 10px;border:1px solid #E6E6E6; border-radius: 5px;background: #fff;}
/*.prettyprint ol li{list-style-type:decimal; list-style-position:inside;}*/

/* table in blog */
.blog_content table{width: 100%;border-spacing: 0;border-color: gray;border-collapse: collapse;}
.blog_content table thead {display: table-header-group;vertical-align: middle;border-color: inherit;}
.blog_content table tr th,.blog_content table tr td{padding: 8px 10px;line-height: 1.5}
.blog_content table thead tr{border-bottom: 1px solid #ccc;font-size:15px;font-weight: 800}
.blog_content table tbody tr {border-top: 1px solid #ccc;}

/* category & tag page */
.post_title{font-size: 20px;margin: 20px 0 10px;}
.post_list{position:relative;}
.post_list li{list-style-type: disc;margin-left: 15px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-right: 80px;}
.post_list span{position: absolute;right: 0;}

/* tag */
.tag_list{overflow:hidden;}
.tag_list li{float: left;margin: 0 20px 10px 0;border: 1px solid #eee;border-radius: 5px;background: #eee;border: 1px solid #E9E9E9;}
.tags_num{vertical-align: super;font-size:0.7em;}
.tag_list li a{display: block;color:#1B1B1B;font-size:18px;padding: 0 20px;}
.tag_list li a:hover{text-decoration:none;box-shadow: 0px 0px 15px #B6C5D6 inset;border-radius: 5px;}

/* resume */
.resume_head{background-color: #f5f5f5;}
.resume_content{background-color: #fff;}
.resume_part{ margin-bottom: 20px;}
.resume_part h2{font-size: 20px;line-height: 36px;}
.resume_part h3{font-size: 16px;line-height: 36px;}
.resume_part ul{margin-left: 35px;color:#747474;}
.resume_part ul a{color:#0069d6;}
.resume_part ul a:hover {color: #00438a;text-decoration: underline;}
.resume_part ul li{list-style-type:disc;}

@media screen and (max-width: 800px){
	.article_list ul{margin-left: 0;}
	.resume_part ul{margin-left: 15px;}
	.post_title{margin: 10px 0 10px;}

	.blog_title{font-size: 20px;padding: 20px 0;}
	.tag_list li{margin: 0 10px 10px 0;}
	.tag_list li a{font-size:14px;padding: 0 8px;}
	.blog_content{width: 100%;}
	.blog_content h2{font-size:16px;line-height:25px;}
	
	.blog_info ul{margin-right: 10px;}
	.blog_info ul li{padding-left: 5px;}

	.index_blog_date{display:none;}
	.post_list li{margin-right:0;}
	.post_list span{display:none;}
	
}
