---
layout: template
---
<section class="blog_layout"">
	<section class="content_part_left">
		<p class="pub_time">>> {{ page.date | date_to_string }}</p>
		<section class="blog_info">
			<ul class="blog_category">
				<span class="glyphicon glyphicon-folder-open"></span>
				{% for category in page.categories %}
				<li>{{ category }}</li>
				{% endfor %}
			</ul>
			<ul class="blog_tag">
				<span class="glyphicon glyphicon-tags"></span>
				{% for tag in page.tags %}
				<li class="{{ tag }}">{{ tag }}</li>
				{% endfor %}
			</ul>
		</section>
		<section class="blog_content">
			{{ content }}
			<ul class="pagination">
				{% if page.previous %}
				  <li class="prev"><a href="{{ baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a></li>
				{% endif %}
				  <li><a href="{{ site.baseurl }}/">Archive</a></li>
				{% if page.next %}
				  <li class="next"><a href="{{ baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
				{% endif %}
			</ul>
		</section>
		<p class="cross_line"></p>
		<!-- Disqus start -->
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'caesor'; // required: replace example with your forum shortname

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		<!-- Disqus end -->
	</section>
	<aside class="content_part_right">
		<h3>Tags List</h3>
		<ul>
			{% for tag in site.tags %}      
			<li>
			<a href="tags.html#{{ tag | first | cgi_encode }}">{{ tag | first }} <span class="tags_num">{{tag[1].size}}</span></a>
			</li>
			{% endfor %}
		</ul>
	</aside>
</section>
